@charset "utf-8";
/* CSS Document */
body {
    background-color: #00f;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #f00;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
